/* Slider */

.cover-text{
    transform: translateY(-55%);
    bottom: initial;
    top: 55%;
}
.cover-heading{
    font-size: 3.34rem;
    font-weight: 700;
}
.carousel-item img{
    height: 85vh;
    object-fit: cover;
}

/* main */
main h2{
    font-size: 3rem;
    font-weight: 700; 
}
.courses{
    margin-top: 150px;
    margin-bottom: 100px;
}
