/* Slider */

.cover-text{
    transform: translateY(-55%);
    bottom: initial;
    top: 55%;
}
.cover-heading{
    font-size: 3.34rem;
    font-weight: 700;
}
.carousel-item img{
    height: 85vh;
    object-fit: cover;
}

/* main */

.courses-header .faq-header{
    margin-top: 150px;
    margin-bottom: 100px;
}
@media screen and (max-width:576px) {
    .course img{
        width: 94vw;
        height: 240px;
        margin-bottom: 15px;
        padding: 0;
    }
}
